* {
    font-family: Open sans;
}

header {
    color: white;
    background-color: #004175;
    padding: 10px;
    border-bottom: solid 1px #89DEEF;
    font-weight: bold;
    font-size: 150%;
    width: auto;
    height: 100%
}

p {
    font-size: small;
}

.dog-image {
    width: 100%;
    height: auto;
}

.dog-name {
    font-weight: bold;
    font-size: medium;
    font-family: Oswald;
}

.dog-cards {

    max-width: 30%;
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    /* border: 1px solid silver; */

}

.dog-traits ul {
    font-size: small;
    margin: 2px;
    padding-inline-start: 0;
    /* inline padding was at 40px by default, not sure why  */
    
}

.dog-traits-list li {
    display: inline-block;
    background-color: #89DEEF;
    border-radius: 25%;
    padding: 2px;
    margin: 2px;
}

footer {
    display: flex;
    font-family: Oswald;
    color: white;
    font-size: larger;
    font-weight: bolder;
    
}

.footer-item {
    flex: 1 1 auto;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.donate { 
    background:
        linear-gradient(
            #A6A9F070,
            #A6A9F070
        ),
        /* Found out that transparency in hex codes is added to the very end as a % value */
        url(starter_files/images/donate.jpg);
    background-size: cover;
    /* Not sure if cover is the correct thing to use  */
    /* the images aren't perfectly even, how important is that? */
}

.volunteer { 
    background:
        linear-gradient(
            #A6A9F070,
            #A6A9F070
        ),
        url(starter_files/images/volunteer.jpg);
    background-size: cover;
}

.our-location { 
    background:
        linear-gradient(
            #A6A9F070,
            #A6A9F070
        ),
        url(starter_files/images/location.png);
    background-size: cover;
}

#dog-data {
    display: flex;
    flex-wrap: wrap;
}

