* {
    font-family: Oswald, Open-Sans;
}

header {
    color: white;
    background-color: #004175;
    padding: 10px;
    border-bottom: solid 1px #89DEEF;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 100%;    
}

p {
    font-size: small;
}

.dog-image {
    width: 100%;
    height: auto;
}

.dog-name {
    font-weight: bold;
    font-size: medium;
}

.dog-cards {

    display: flex;
    flex-direction: row;
    max-width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    border: 1px solid silver;


}

.dog-traits ul {
    font-size: xx-small
    font-family: Open-Sans;
    margin: 2px;
    flex-wrap: wrap;
}

.dog-traits-list li {
    display: inline-block;
    background-color: #89DEEF;
    border-radius: 25%;
    padding: 2px;
    margin: 2px;
}

footer {
    background-color: red;
}

