* {
    font-family: Oswald, Open-Sans;
}

header {
    color: white;
    background-color: #004175;
    padding: 10px;
    border-bottom: solid 1px #89DEEF;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 100%;    
}

p {
    font-size: small;
}

.dog-img {
    width: 300px;
}

.dog-name {
    font-weight: bold;
    font-size: medium;
}

.dog-cards {

}

.dog-traits ul {
    font-size: smaller;
    font-weight: lighter;
    font-family: Open-sans;
    margin: 5px 0;
}

mark {
    display: inline-block;
    background-color: #89DEEF;
    border-radius: 25%;
    padding: 2px;
}

footer {
    background-color: red;
}

.dog-traits-list li {
    display: inline-block;
}